@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { height: 100%; }
  body { min-height: 100%; overflow-x: clip; }
  :root {
    --bg: #0b0f17;
    --text: #e6eef8;
  }
  .light { --bg:#ffffff; --text:#0b0f17; }
  .dark  { --bg:#0b0f17; --text:#e6eef8; }

  body {
    background: var(--bg);
    color: var(--text);
  }
}
